Repository Asset-management-service/backend, pull requests merged in 2022-05, with the labels that each got.

#62 [Feat] 유저 테스트 코드 추가
  src/main/java/com/backend/moamoa/domain/settlement/service/SettlementService.java
  src/main/java/com/backend/moamoa/domain/user/dto/request/UserEmailRequest.java
  src/main/java/com/backend/moamoa/domain/user/dto/request/UserUpdateRequest.java
  src/test/java/com/backend/moamoa/domain/user/controller/UserControllerTest.java
Labels: ✨ Feature, 📬 API

#64 [Refactor] 결산 API 년 자세한 출력 수정
  src/main/java/com/backend/moamoa/domain/settlement/service/SettlementService.java
Labels: 📬 API

#66 Refactor : 불필요한 의존성 제거 및 수익 지출 관리 테이블 리팩토링
  src/main/java/com/backend/moamoa/domain/asset/dto/request/CreateRevenueExpenditureRequest.java
  src/main/java/com/backend/moamoa/domain/asset/dto/response/AssetCategoriesResponse.java
  src/main/java/com/backend/moamoa/domain/asset/dto/response/AssetCategoryDtoResponse.java
  src/main/java/com/backend/moamoa/domain/asset/entity/RevenueExpenditure.java
  src/main/java/com/backend/moamoa/domain/asset/service/AssetService.java
  src/main/java/com/backend/moamoa/domain/post/repository/post/PostRepositoryImpl.java
  src/main/java/com/backend/moamoa/global/bean/security/SecurityConfig.java
  src/main/java/com/backend/moamoa/global/s3/S3Controller.java
Labels: 🔨 Refactor

#65 [Feat] 유저 컨트롤러 테스트 코드 추가
  src/test/java/com/backend/moamoa/domain/user/controller/UserControllerTest.java
  src/test/java/com/backend/moamoa/domain/user/service/UserServiceTest.java
Labels: ✅ Test

#67 Feat : 가계부 설정 카테고리 조회 테스트 코드 작성 및 수익 지출 관리 수정 + 조회 API 리팩토링
  src/main/java/com/backend/moamoa/domain/asset/dto/request/AssetCategoryRequest.java
  src/main/java/com/backend/moamoa/domain/asset/dto/request/BudgetRequest.java
  src/main/java/com/backend/moamoa/domain/asset/dto/request/CreateMoneyLogRequest.java
  src/main/java/com/backend/moamoa/domain/asset/dto/request/ExpenditureRequest.java
  src/main/java/com/backend/moamoa/domain/asset/dto/request/UpdateRevenueExpenditure.java
  src/main/java/com/backend/moamoa/domain/asset/dto/response/AssetCategoryResponse.java
  src/main/java/com/backend/moamoa/domain/asset/dto/response/CreateAssetGoalResponse.java
  src/main/java/com/backend/moamoa/domain/asset/dto/response/RevenueExpenditureResponse.java
  src/main/java/com/backend/moamoa/domain/asset/dto/response/RevenueExpenditureSumResponse.java
  src/main/java/com/backend/moamoa/domain/asset/entity/RevenueExpenditure.java
  src/main/java/com/backend/moamoa/domain/asset/repository/RevenueExpenditureRepositoryImpl.java
  src/main/java/com/backend/moamoa/domain/asset/service/AssetService.java
  src/test/java/com/backend/moamoa/builder/UserBuilder.java
  src/test/java/com/backend/moamoa/domain/asset/controller/AssetControllerTest.java
Labels: 🔨 Refactor, 📬 API, ✅ Test, 🙋‍♂️ Question

#68 [Feat] 유저 서비스 테스트 코드 추가
  src/test/java/com/backend/moamoa/domain/user/controller/AuthControllerTest.java
  src/test/java/com/backend/moamoa/domain/user/service/UserServiceTest.java
Labels: ✅ Test

#70 [Feat] 권한 서비스 테스트 추가
  src/main/java/com/backend/moamoa/domain/settlement/service/SettlementService.java
  src/test/java/com/backend/moamoa/domain/user/service/AuthServiceTest.java
Labels: ✅ Test

#71 Feat : AssetService 테스트 코드 작성
  src/main/java/com/backend/moamoa/domain/asset/entity/AssetCategory.java
  src/main/java/com/backend/moamoa/domain/asset/entity/Budget.java
  src/main/java/com/backend/moamoa/domain/asset/entity/ExpenditureRatio.java
  src/main/java/com/backend/moamoa/domain/asset/entity/RevenueExpenditure.java
  src/test/java/com/backend/moamoa/domain/asset/controller/AssetControllerTest.java
  src/test/java/com/backend/moamoa/domain/asset/service/AssetServiceTest.java
Labels: 🔨 Refactor, ✅ Test

#72 Feat : AssetService 테스트 코드 작성
  src/main/java/com/backend/moamoa/domain/asset/dto/request/UpdateMoneyLogRequest.java
  src/main/java/com/backend/moamoa/domain/asset/entity/AssetGoal.java
  src/main/java/com/backend/moamoa/domain/asset/entity/MoneyLog.java
  src/test/java/com/backend/moamoa/domain/asset/service/AssetServiceTest.java
Labels: 🔨 Refactor, ✅ Test

#73 Feat : 가계부 설정 - 카테고리 수정 API 추가
  src/main/java/com/backend/moamoa/domain/asset/controller/AssetController.java
  src/main/java/com/backend/moamoa/domain/asset/dto/request/UpdateAssetCategoryRequest.java
  src/main/java/com/backend/moamoa/domain/asset/entity/AssetCategory.java
  src/main/java/com/backend/moamoa/domain/asset/service/AssetService.java
  src/test/java/com/backend/moamoa/domain/asset/controller/AssetControllerTest.java
  src/test/java/com/backend/moamoa/domain/asset/service/AssetServiceTest.java
Labels: ✨ Feature, 🔨 Refactor, 📬 API, ✅ Test

#74 Feat : AssetController 단위 테스트 코드 작성
  src/test/java/com/backend/moamoa/domain/asset/controller/AssetControllerTest.java
Labels: ✅ Test

#75 Feat : PostController + PostService 단위 테스트 코드 작성
  src/main/java/com/backend/moamoa/domain/post/service/PostService.java
  src/test/java/com/backend/moamoa/domain/asset/controller/AssetControllerTest.java
  src/test/java/com/backend/moamoa/domain/post/controller/PostControllerTest.java
  src/test/java/com/backend/moamoa/domain/post/service/PostServiceTest.java
Labels: ✅ Test

#76 Feat : CommentController, CommentService 단위 테스트 코드 작성
  src/test/java/com/backend/moamoa/domain/post/controller/CommentControllerTest.java
  src/test/java/com/backend/moamoa/domain/post/service/CommentServiceTest.java
Labels: ✅ Test
