Repository Asset-management-service/backend, pull requests merged in 2022-03, with the labels that each got.

#8 Feat : 패키지 구조 설정 및 yml파일 생성
  .gitignore
  src/main/java/com/backend/moamoa/domain/Comment.java
  src/main/java/com/backend/moamoa/domain/Post.java
  src/main/java/com/backend/moamoa/domain/User.java
  src/main/java/com/backend/moamoa/domain/enums/Address.java
  src/main/java/com/backend/moamoa/domain/enums/Gender.java
  src/main/java/com/backend/moamoa/domain/post/Comment.java
  src/main/java/com/backend/moamoa/domain/post/Post.java
  src/main/java/com/backend/moamoa/domain/user/entity/User.java
  src/main/java/com/backend/moamoa/domain/user/entity/UserProfile.java
  src/main/java/com/backend/moamoa/domain/user/enums/Address.java
  src/main/java/com/backend/moamoa/domain/user/enums/Gender.java
  src/main/java/com/backend/moamoa/global/audit/AuditListener.java
  src/main/java/com/backend/moamoa/global/audit/Auditable.java
  src/main/java/com/backend/moamoa/global/audit/TimeEntity.java
  src/main/resources/application-local.yml
  src/main/resources/application.yml
Labels: ⚙ Setting

#9 feat : Stock crawling api 구현 ,swagger 설정, customexception 설정
  build.gradle
  src/main/java/com/backend/moamoa/domain/crawling/Stock.java
  src/main/java/com/backend/moamoa/domain/crawling/StockApiController.java
  src/main/java/com/backend/moamoa/domain/crawling/StockCrawling.java
  src/main/java/com/backend/moamoa/global/exception/CustomException.java
  src/main/java/com/backend/moamoa/global/exception/ErrorCode.java
  src/main/java/com/backend/moamoa/global/exception/ErrorResponse.java
  src/main/java/com/backend/moamoa/global/exception/GlobalExceptionHandler.java
  src/main/java/com/backend/moamoa/global/swagger/SwaggerConfiguration.java
  src/main/resources/application.yml
Labels: ✨ Feature, 📬 API

#10 Feat : Oauth 적용을 위한 설정
  .gitignore
  src/main/java/com/backend/moamoa/domain/user/oauth/controller/AuthController.java
  src/main/java/com/backend/moamoa/domain/user/oauth/dto/AuthReqModel.java
  src/main/java/com/backend/moamoa/domain/user/oauth/info/impl/GoogleOAuth2UserInfo.java
  src/main/java/com/backend/moamoa/domain/user/oauth/service/CustomOAuth2UserService.java
  src/main/java/com/backend/moamoa/domain/user/oauth/service/CustomUserDetailsService.java
  src/main/java/com/backend/moamoa/domain/user/oauth/token/AuthToken.java
  src/main/java/com/backend/moamoa/domain/user/oauth/token/AuthTokenProvider.java
  src/main/java/com/backend/moamoa/global/common/ApiResponse.java
  src/main/java/com/backend/moamoa/global/common/ApiResponseHeader.java
  src/main/java/com/backend/moamoa/global/config/properties/AppProperties.java
  src/main/java/com/backend/moamoa/global/config/properties/CorsProperties.java
  src/main/java/com/backend/moamoa/global/config/security/JwtConfig.java
  src/main/java/com/backend/moamoa/global/utils/CookieUtil.java
  src/main/java/com/backend/moamoa/global/utils/HeaderUtil.java
Labels: ✨ Feature, 📬 API

#15 Feat : QueryDsl config
  .gitignore
  build.gradle
  src/main/java/com/backend/moamoa/global/bean/QueryDslConfig.java
  src/main/resources/application-local.yml
  src/main/resources/application-oauth.yml
  src/main/resources/application.yml
Labels: ⚙ Setting

#16 Feat : 월급관리 및 User 엔티티 수정
  build.gradle
  src/main/java/com/backend/moamoa/domain/asset/moneylog/entity/MoneyLog.java
  src/main/java/com/backend/moamoa/domain/asset/salary/controller/SalaryController.java
  src/main/java/com/backend/moamoa/domain/asset/salary/dto/FixedCostDto.java
  src/main/java/com/backend/moamoa/domain/asset/salary/dto/SalaryRequest.java
  src/main/java/com/backend/moamoa/domain/asset/salary/dto/SalaryResponse.java
  src/main/java/com/backend/moamoa/domain/asset/salary/dto/VariableCostDto.java
  src/main/java/com/backend/moamoa/domain/asset/salary/entity/Category.java
  src/main/java/com/backend/moamoa/domain/asset/salary/entity/CostType.java
  src/main/java/com/backend/moamoa/domain/asset/salary/entity/Salary.java
  src/main/java/com/backend/moamoa/domain/asset/salary/repository/CategoryRepository.java
  src/main/java/com/backend/moamoa/domain/asset/salary/repository/SalaryRepository.java
  src/main/java/com/backend/moamoa/domain/asset/salary/service/SalaryService.java
  src/main/java/com/backend/moamoa/domain/crawling/Stock.java
  src/main/java/com/backend/moamoa/domain/crawling/StockApiController.java
  src/main/java/com/backend/moamoa/domain/crawling/StockCrawling.java
  src/main/java/com/backend/moamoa/global/exception/ErrorCode.java
Labels: ✨ Feature, 📬 API

#17 Refactor : 불필요한 파일 삭제 및 월급 관리 로직 생성
  src/main/java/com/backend/moamoa/MoamoaApplication.java
  src/main/java/com/backend/moamoa/domain/asset/salary/dto/FixedCostDto.java
  src/main/java/com/backend/moamoa/domain/asset/salary/entity/Salary.java
  src/main/java/com/backend/moamoa/domain/user/controller/UserController.java
  src/main/java/com/backend/moamoa/domain/user/entity/User.java
  src/main/java/com/backend/moamoa/domain/user/oauth/controller/AuthController.java
  src/main/java/com/backend/moamoa/domain/user/oauth/dto/AuthReqModel.java
  src/main/java/com/backend/moamoa/domain/user/oauth/entity/ProviderType.java
  src/main/java/com/backend/moamoa/domain/user/oauth/entity/RoleType.java
  src/main/java/com/backend/moamoa/domain/user/oauth/entity/UserPrincipal.java
  src/main/java/com/backend/moamoa/domain/user/oauth/exception/OAuthProviderMissMatchException.java
  src/main/java/com/backend/moamoa/domain/user/oauth/exception/RestAuthenticationEntryPoint.java
  src/main/java/com/backend/moamoa/domain/user/oauth/exception/TokenValidFailedException.java
  src/main/java/com/backend/moamoa/domain/user/oauth/filter/TokenAuthenticationFilter.java
  src/main/java/com/backend/moamoa/domain/user/oauth/handler/OAuth2AuthenticationFailureHandler.java
  src/main/java/com/backend/moamoa/domain/user/oauth/handler/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/backend/moamoa/domain/user/oauth/handler/TokenAccessDeniedHandler.java
  src/main/java/com/backend/moamoa/domain/user/oauth/info/OAuth2UserInfo.java
  src/main/java/com/backend/moamoa/domain/user/oauth/info/OAuth2UserInfoFactory.java
  src/main/java/com/backend/moamoa/domain/user/oauth/info/impl/GoogleOAuth2UserInfo.java
  src/main/java/com/backend/moamoa/domain/user/oauth/info/impl/KakaoOAuth2UserInfo.java
  src/main/java/com/backend/moamoa/domain/user/oauth/info/impl/NaverOAuth2UserInfo.java
  src/main/java/com/backend/moamoa/domain/user/oauth/repository/OAuth2AuthorizationRequestBasedOnCookieRepository.java
  src/main/java/com/backend/moamoa/domain/user/oauth/service/CustomOAuth2UserService.java
  src/main/java/com/backend/moamoa/domain/user/oauth/service/CustomUserDetailsService.java
  src/main/java/com/backend/moamoa/domain/user/oauth/token/AuthToken.java
  src/main/java/com/backend/moamoa/domain/user/oauth/token/AuthTokenProvider.java
  src/main/java/com/backend/moamoa/domain/user/repository/UserRefreshTokenRepository.java
  src/main/java/com/backend/moamoa/domain/user/repository/UserRepository.java
  src/main/java/com/backend/moamoa/domain/user/service/UserService.java
  src/main/java/com/backend/moamoa/global/common/ApiResponse.java
  src/main/java/com/backend/moamoa/global/common/ApiResponseHeader.java
  src/main/java/com/backend/moamoa/global/config/properties/AppProperties.java
  src/main/java/com/backend/moamoa/global/config/properties/CorsProperties.java
  src/main/java/com/backend/moamoa/global/config/security/JwtConfig.java
  src/main/java/com/backend/moamoa/global/config/security/SecurityConfig.java
  src/main/java/com/backend/moamoa/global/utils/CookieUtil.java
  src/main/java/com/backend/moamoa/global/utils/HeaderUtil.java
Labels: ✨ Feature, 🐞 BugFix, 🔨 Refactor, 📬 API

#18 [Feat] 스프링 시큐리티 + JWT + Oauth 로그인 파일 생성
  src/main/java/com/backend/moamoa/domain/post/entity/Comment.java
  src/main/java/com/backend/moamoa/domain/post/entity/Post.java
  src/main/java/com/backend/moamoa/domain/post/service/PostService.java
  src/main/java/com/backend/moamoa/domain/user/entity/User.java
  src/main/java/com/backend/moamoa/domain/user/enums/Address.java
  src/main/java/com/backend/moamoa/domain/user/enums/RoleType.java
  src/main/java/com/backend/moamoa/domain/user/repository/UserRepository.java
  src/main/java/com/backend/moamoa/domain/user/service/UserService.java
  src/main/java/com/backend/moamoa/global/config/security/AppConfig.java
  src/main/java/com/backend/moamoa/global/utils/SecurityUtil.java
Labels: ✨ Feature, 🔨 Refactor, 📬 API
